<%- include('./layouts/main') -%>
<%- include('./partials/logger-header') -%>
  <body>
    <form>
      <div class="form-group">
        <label for="title">Título</label>
        <input
          name="title"
          type="text"
          class="form-control"
          id="title"
          placeholder="Ingrese título"
        />
      </div>
      <div class="form-group">
        <label for="price">Precio</label>
        <input
          name="price"
          type="number"
          class="form-control"
          id="price"
          placeholder="Ingrese precio"
        />
      </div>
      <div class="form-group">
        <label for="thumbnail">Imagen</label>
        <input
          name="thumbnail"
          type="url"
          class="form-control"
          id="thumbnail"
          placeholder="Ingrese url"
        />
      </div>
      <div class="form-check">
        <button id="prodInputBtn" type="button" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <script src="./public/input-productos.js" ></script>
    <%- include('./partials/list-productos') -%>
    <%- include('./partials/input-chat') -%>
  </body>
</html>
